<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/play.css">
</head>
<body>
    <nav>
        <div id="container" class="container">
            <img id="menu" src="static/menu.svg" class="menu-logo" onclick="togglemenu()">
            <ul id="ul">
                <li><a href="/">Home</a></li>
                <li><a href="#endpoints">Endpoints</a></li>
                <li><a href="/playground">Playground</a></li>
                <li><a href="https://github.com/AtharvaKDev/Homer-API">Github</a></li>
            </ul>
        </div>
        <ul id="menu-ul">
            <li><a href="index.html">Home</a></li>
            <li><a href="#endpoints">Endpoints</a></li>
            <li><a href="https://github.com/AtharvaKDev/Homer-API">Github</a></li>
        </ul>
    </nav>

    <div class="main">
        <h1>Coming Soon</H1>
    </div>

    <div class="playground">
        <div class="code">
            <p>
                <pre>
                    <code>
                        print("Hello World")
                    </code>
                </pre>
            </p>
        </div>
    </div>

    <script src="static/js/play.js"></script>
</body>
</html>